body{
    margin: 0;
    padding: 0;
}

main{
    padding: 16px;
}

footer{
    background-color: #B4CF66;
    padding: 24px 24px 24px 24px;
    margin-top: auto;

}

img{
    height: 200px;
}

nav{
    padding: 16px 16px 16px 16px;
    background-color: #FF5A33;
    border-bottom: 1px solid black;
}

a{
    color: #44803F;
    text-decoration: none;
}

.is_white{
    color: white
}

h1{
    color: green;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.is_gray{
    background-color: lightgray;
}
